<div id="header_container">
    <div id="header">
        <div><a class="home"><i class="fa fa-home"></i></a>
        </div>
        <div><a href="" class="previous-page arrow"><i class="fa fa-angle-left"></i></a>
        </div>
        <div><a href="" class="next-page arrow"><i class="fa fa-angle-right"></i></a>
        </div>
        <!-- News scroll -->
        <div class="news-scroll">
            <span><i class="fa fa-line-chart"></i>RECENT ACTIVITY : </span>
            <ul id="marquee" class="marquee">
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.</li>
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                </li>
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                </li>
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                </li>
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                </li>
                <li>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    hymenaeos. Fusce tincidunt adipiscing,massa. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                </li>
            </ul>
        </div>
        <!-- End News scroll -->
    </div>
</div>