<div id="left-sidebar-wrapper" class="pt-trigger-container">
    <nav>
        <div id="stories"></div>
        <ul class="main-nav">
            <li><a class="pt-trigger" data-animation="21" data-goto="1" id="home"><i class="peicon pe-7s-home" aria-hidden="true"></i><span>Home</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="2" id="about"><i class="peicon pe-7s-id" aria-hidden="true"></i><span>About</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="3" id="services"><i class="peicon pe-7s-tools" aria-hidden="true"></i><span>Services</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="4" id="portfolio"><i class="peicon pe-7s-note2" aria-hidden="true"></i><span>Portfolio</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="6" id="blog"><i class="peicon pe-7s-news-paper" aria-hidden="true"></i><span>Blog</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="11" id="skillsbox"><i class="peicon pe-7s-arc" aria-hidden="true"></i><span>Skills</span></a></li>
            <li><a class="pt-trigger" data-animation="21" data-goto="8" id="contact"><i class="peicon pe-7s-mail" aria-hidden="true"></i><span>Contact</span></a></li>
        </ul>
    </nav>
</div>