{% extends "admin/base.html" %}
{% block title %} Réalisations {{ current_user.name }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Réalisations
                <small>Portfolios</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Réalisations</li>
            </ol>
        </section>
     {% include "admin/inc/success_error.html" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE RÉALISATIONS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                    <th>Techno</th>
                                    <th>Image</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                                {% for work in works %}
                                    <tr>
                                    <td>
                                        <a href="{{ work.url }}" target="_blank" title="{{ work.title }}">{{ work.title }}</a>

                                        </td>
                                        <td>{{ work.category }}</td>
                                        <td>{{ work.techno }}</td>
                                        <td><a href="{{url_for('static',filename=work.image)}}" target="_blank"><img width="50px" src="{{url_for('static',filename=work.image)}}" alt="{{ work.title }}"></a></td>
                                        {% if work.published %}
                                            <td>
                                                <span class="label label-success">Publié</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="label label-danger">Brouillon</span>
                                            </td>
                                        {% endif %}
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{{ url_for('admin.edit_work',uid=work.uid) }}" title="{{ work.formation }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default btn-sm delete" title="Supprimer la réalisation?" href="{{url_for('admin.delete_work',uid=work.uid)}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE RÉALISATION</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                        {% include 'admin/works/form.html' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}