<form method="POST" action="{{ url }}" class="form-horizontal">
    <div class="form-group row">
        <label class="col-sm-2 control-label">{{ form.title.label }}</label>
        <div class="col-sm-10">
            {{ form.title(class='form-control',required='required',placeholder='Titre expérience') }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">{{ form.company.label }}</label>
        <div class="col-sm-10">
            {{ form.company(class='form-control',required='required',placeholder='Entreprise') }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">{{ form.location.label }}</label>
        <div class="col-sm-10">
            {{ form.location(class='form-control',required='required',placeholder='Lieu') }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">{{ form.begin_at.label }}</label>
        <div class="col-sm-10">
            {{ form.begin_at(class='form-control',required='required',type="date") }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">{{ form.end_at.label }}</label>
        <div class="col-sm-10">
            {{ form.end_at(class='form-control',required='required',type="date") }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">Etat</label>
        <label for="published" class="minimal col-sm-10">
            {{ form.published() }}
            Publié(e)
        </label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            {{ form.description(class='form-control') }}
        </div>
    </div>
    <div class="modal-footer text-left">
        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
        <a class="btn btn-default"  href="{{ url_for('admin.jobs') }}"><i class="fa fa-times"></i> Annuler</a>
    </div>
</form>