<header class="main-header">
        <!-- Logo -->
        <a href="{{url_for('admin.home')}}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>D</b>MN</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>ADMIN</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">{{email_count}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Vous avez {{email_count}} messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      {% for email in emails %}
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{url_for('static',filename=current_user.photo)}}" class="img-circle" alt="{{current_user.name}}">
                          </div>
                          <h4>
                            {{email.name}}
                            <small><i class="fa fa-clock-o"></i> {{email.created_at | datetimeformat('%d/%m %H:%M')}}</small>
                          </h4>
                          <p>{{email.subject}}</p>
                        </a>
                      </li>
                      {% endfor %}
                      <!-- end message -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">Afficher tous les messages</a></li>
                </ul>
              </li>

              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{url_for('static',filename=current_user.photo)}}" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{current_user.name}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{url_for('static',filename=current_user.photo)}}" class="img-circle" alt="User Image">
    
                    <p>
                            {{current_user.name}} - {{current_user.job}}
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  {# <li class="user-body">
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>#}
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{url_for('admin.profil')}}" class="btn btn-default btn-flat">Profils</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{url_for('auth.logout')}}" class="btn btn-default btn-flat">Deconnection</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
             {#  <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>#}
            </ul>
          </div>
        </nav>
      </header>
    