<section class="content-header">
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {%- for msg in errors %}
        <div class="callout callout-danger">
                <h4> {{ msg }}</h4>
              </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        {%- for msg in success %}
        <div class="callout callout-success">
                <h4> {{ msg }}</h4>
              </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["info"]) %}
    {% if success %}
        {%- for msg in success %}
        <div class="callout callout-info">
                <h4> {{ msg }}</h4>
              </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</section>