<!doctype html>
<html class="no-js css-menubar" lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename="admin/img/apple-icon.png")}}" />
    <link rel="icon" type="image/png" href="{{ url_for('static',filename="admin/img/favicon.ico")}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>N'Dalaba Diallo | {% block title %} {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/bootstrap-extend.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/site.min.css")}}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/animsition.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/asScrollable.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/switchery.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/introjs.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/slidePanel.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/flag-icon.min.css")}}">

    {% block pagestylesheet %} {% endblock %}

    <!-- Fonts -->
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/web-icons.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="admin/css/brand-icons.min.css")}}">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">


    <!-- Scripts -->
    <script src="{{url_for('static',filename="admin/js/breakpoints.min.js")}}"></script>
    <script>
        Breakpoints();
    </script>
</head>

<body class="animsition site-navbar-small dashboard">

    {% include "admin/inc/navbar.html" %}

    {% block content %}{% endblock %}

    {% include "admin/inc/footer.html" %}

    <!-- Core  -->
    <script src="{{ url_for('static',filename='admin/js/babel-external-helpers.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/animsition.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery.mousewheel.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery-asScrollbar.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery-asScrollable.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery-asHoverScroll.min.js')}}"></script>
    <!-- Plugins -->
    <script src="{{ url_for('static',filename='admin/js/switchery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/intro.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/screenfull.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/jquery-slidePanel.min.js')}}"></script>

    {% block pagescriptplugin %}{% endblock %}

    <!-- Scripts -->
    <script src="{{ url_for('static',filename='admin/js/Component.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/Plugin.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/Base.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/Config.min.js')}}"></script>

    <script src="{{ url_for('static',filename='admin/js/Menubar.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/Sidebar.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/PageAside.min.js')}}"></script>
    <script src="{{ url_for('static',filename='admin/js/menu.min.js')}}"></script>

    {% block pagescript %}{% endblock %}

</body>

</html>