<article class="hs-content about-section" id="section1">
    <span class="sec-icon fa fa-home"></span>
    <div class="hs-inner">
        <span class="before-title">.01</span>
        <h2>À PROPOS</h2>
        <span class="content-title">DÉTAILS PERSONNELS</span>
        <div class="aboutInfo-contanier">
            <div class="about-card">
                <div class="face2 card-face">
                    <div id="cd-google-map">
                        <div id="google-container"></div>
                        <div id="cd-zoom-in"></div>
                        <div id="cd-zoom-out"></div>
                        <address>{{ user.location }}</address>
                        <div class="back-cover" data-card-back="data-card-back"><i class="fa fa-long-arrow-left"></i>
                        </div>
                    </div>
                </div>
                <div class="face1 card-face">
                    <div class="about-cover card-face">
                        <a class="map-location" data-card-front="data-card-front"><img src="{{ url_for('static',filename='images/map-icon.png') }}" alt="">
                        </a>
                        <div class="about-details">
                            <div><span class="fa fa-inbox"></span><span class="detail">{{ user.email }}</span>
                            </div>
                            <div><span class="fa fa-phone"></span><span class="detail">{{ user.phone }}</span>
                            </div>
                        </div>

                        <div class="cover-content-wrapper">
                            <span class="about-description">Bonjour. Je suis un<span class="rw-words">
                                    <span><strong>Développeur</strong></span>
                                    <span><strong>Passionné</strong></span>
                                    <span><strong>Rêveur</strong></span>
                                    <span><strong>Leader</strong></span>
                                </span>
                                <br>Je suis passionné par la programmation et le codage
                                <br>Ceci est ma page personnelle</span>
                            <span class="status">
                                <span class="fa fa-circle"></span>
                                <span class="text">Disponible en tant que <strong>freelance</strong></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-details">
                <div class="tabbable tabs-vertical tabs-left">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#bio" data-toggle="tab">Bio</a>
                        </li>
                        <li>
                            <a href="#hobbies" data-toggle="tab">Loisirs</a>
                        </li>
                        {# <li>
                            <a href="#facts" data-toggle="tab">Facts</a>
                        </li>#}
                    </ul>
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="bio">
                            <h3>BIO</h3>
                            <h4>A PROPOS DE MOI</h4>
                            <p>{{ user.bio | safe }}</p>
                        </div>
                        <div class="tab-pane fade" id="hobbies">
                            <h3>LOISIRS</h3>
                            <h4>INTERÊTS</h4>
                            {% for hobby in user.hobbies %}
                                {% if hobby.published %}
                                    <div class="hobbie-wrapper row">
                                        <div class="hobbie-icon col-md-3"><i class="{{ hobby.icon }}"></i>
                                        </div>
                                        <div class="hobbie-description col-md-9">
                                            <p>{{ hobby.description }}</p>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div style="clear:both;"></div>
                        </div>
                        {#  <div class="tab-pane fade" id="facts">
                            <h3>FACTS</h3>
                            <h4>NUMBERS ABOUT ME</h4>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class=" li_cup"></i>
                                </div>
                                <div class="facts-number">920</div>
                                <div class="facts-description">CUPS OF COFFEE</div>
                            </div>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class="li_bulb"></i>
                                </div>
                                <div class="facts-number">65</div>
                                <div class="facts-description">PROJECTS COMPLETED</div>
                            </div>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class="li_clock"></i>
                                </div>
                                <div class="facts-number">2965</div>
                                <div class="facts-description">HOURS OF CODING</div>
                            </div>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class="li_t-shirt"></i>
                                </div>
                                <div class="facts-number">35</div>
                                <div class="facts-description">WORKSHOPS</div>
                            </div>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class="li_display"></i>
                                </div>
                                <div class="facts-number">2M</div>
                                <div class="facts-description">LINES OF CODE</div>
                            </div>
                            <div class="facts-wrapper col-md-6">
                                <div class="facts-icon"><i class=" li_like"></i>
                                </div>
                                <div class="facts-number">100</div>
                                <div class="facts-description">SATISFIED CUSTOMERS</div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</article>