<article class="hs-content pricing-section" id="section5">
    <span class="sec-icon fa fa-money"></span>
    <div class="hs-inner">
        <span class="before-title">.05</span>
        <h2>PROJETS</h2>
        <span class="content-title">RÉALISATIONS PERSONNELLES</span>
        <div class="pricing-table-wrapper">
            {% for personal_work in personal_works %}
            <div class="pricing-table pricing-monthly">
                <div class="pricing-table-header">
                    <h1>{{personal_work.title}}</h1>
                    <h3>{{personal_work.techno}}</h3>
                </div>
                <div class="pricing-table-content">
                    {{personal_work.description | safe}}
                    <a class="signup" target="_blank" title="{{personal_work.title}}" href="{{personal_work.url}}">Consulter</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</article>