<div class="pagescroll pt-page pt-page-2 about">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>STUDIES AND WORKS</legend>
                    <i class="peicon pe-7s-id" aria-hidden="true"></i>
                    <h3>ABOUT ME</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row row-wrapper">
            <div class="col-md-12">
                <h1 class="Profilename">I'm <strong>Johnatan Doe</strong> </h1>
                <h5 class="profilejob">Developer and businessman</h5>
                <hr>
            </div>
            <div class="aboutcol col-md-6">
                <ul class="personalinfo">
                    <li><span class="personalinfo-tag">Address</span><span class="personalinfo-item">Belgium Brussels</span></li>
                    <li><span class="personalinfo-tag">E-mail</span> <span class="personalinfo-item">exemple@exemple.com</span></li>
                    <li><span class="personalinfo-tag">Phone</span><span class="personalinfo-item">+ 123 456 789</span></li>
                    <li><span class="personalinfo-tag">Freelance</span><span class="personalinfo-item av-freelance">Available For Freelance</span></li>
                    <li><span class="personalinfo-tag">availability</span><span class="personalinfo-item"><i>On Vacation</i> till may 25, 2017</span></li>
                </ul>
            </div>
            <div class="aboutcol col-md-6">
                <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmodSed accumsan venenatis blandit. Duis auctor hendrerit metus
                    Lorem ipsum dolor sit amet, consectetur</p>
                <p> adipisicing elit, sed do eiusmod is blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit, sed do eiusmodSed accumsan venenatis blandit.</p>
            </div>
        </div>
        <div class="row row-wrapper ">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row row-wrapper ">
            <div class="aboutcol col-md-6 col-sm-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="smalltitle">Resume</div>
                    </div>
                </div>
                <div class="resume-container">
                    <ul class="timeline">
                        <li class="time-label">
                                        <span class="bg-light-blue">EDUCATION
                                </span>
                        </li>
                        <li>
                            <i class="peicon pe-7s-study"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2010</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">CANADA</span></span>
                                <h3 class="timeline-header">COMPUTER ENGINEERING - PHD</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="peicon pe-7s-study"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2010</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">CANADA</span></span>
                                <h3 class="timeline-header">COMPUTER ENGINEERING - PHD</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="peicon pe-7s-study"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2005</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">CANADA</span></span>
                                <h3 class="timeline-header">hendrerit metus</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li class="time-label">
                                        <span class="bg-green">JOBS AND EXPERIENCE
                                </span>
                        </li>
                        <li>
                            <i class="peicon pe-7s-monitor"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2005</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">Canada</span></span>
                                <h3 class="timeline-header">hendrerit metus</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="peicon pe-7s-monitor"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2005</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">Canada</span></span>
                                <h3 class="timeline-header">hendrerit metus</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="peicon pe-7s-monitor"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2005</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">Canada</span></span>
                                <h3 class="timeline-header">hendrerit metus</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="peicon pe-7s-monitor"></i>
                            <div class="res-sec-date">
                                <span class="firstdate">2010</span>
                                <span>2005</span>
                            </div>
                            <div class="timeline-item">
                                <span class="time"><i class="pe-7s-map-marker"></i><span class="res-location">Canada</span></span>
                                <h3 class="timeline-header">hendrerit metus</h3>
                                <div class="timeline-body">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                                    Class aptent
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="downloadcv" href="#"><i class="peicon pe-7s-cloud-download"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="aboutcol col-md-6 col-sm-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-diamond" aria-hidden="true"></i></div>
                        <div class="smalltitle">Skills</div>
                    </div>
                </div>
                <div class="skills-container">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-monitor" aria-hidden="true"></i>
                        <span class="skills-title">WEB DEVELOPPEMENT</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">85%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod . </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">HTML</span>
                        <span class="skills-label">CSS</span>
                        <span class="skills-level">LEVEL : ADVANCED</span>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
                <div class="skills-container">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-vector" aria-hidden="true"></i>
                        <span class="skills-title">DESIGN</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">50%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod . </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">PHOTOSHOP</span>
                        <span class="skills-label">SKETCH</span>
                        <span class="skills-label">ILLUSTRATOR</span>
                        <span class="skills-level">LEVEL : INTERMEDIATE </span>
                        <div class="bar-container">
                            <div class="bar" style="width: 50%;"></div>
                        </div>
                    </div>
                </div>
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-comments" aria-hidden="true"></i></div>
                        <div class="smalltitle">Testimonials</div>
                    </div>
                </div>
                <figure class="snip1204">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet odio vel nisi tincidunt,
                        ac luctus nibh iaculis. Maecenas ipsum erat, lacinia eget tellus volutpat .</blockquote>
                    <div class="author">
                        <img src="img/portrait1.jpg" alt="sq-sample7" />
                        <h5>Johnatan Doe</h5><span class="testi-location">Canada</span>
                    </div>
                </figure>
                <figure class="snip1204 hover">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet odio vel nisi tincidunt,
                        ac luctus nibh iaculis. Maecenas ipsum erat, lacinia eget tellus volutpat .</blockquote>
                    <div class="author">
                        <img src="img/portrait2.jpg" alt="sq-sample10" />
                        <h5>John Doe</h5><span class="testi-location">New York</span>
                    </div>
                </figure>
                <figure class="snip1204">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet odio vel nisi tincidunt,
                        ac luctus nibh iaculis. Maecenas ipsum erat, lacinia eget tellus volutpat .</blockquote>
                    <div class="author">
                        <img src="img/portrait3.jpg" alt="sq-sample12" />
                        <h5>Steve Doe</h5><span class="testi-location">Washington</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>