<div class="pagescroll pt-page pt-page-6 blog">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>OUR NEWS AND BLOG</legend>
                    <i class="peicon pe-7s-news-paper" aria-hidden="true"></i>
                    <h3> BLOG</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
                        <div class="smalltitle">Last News</div>
                    </div>
                </div>
            </div>
            <div class="blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio8.jpg) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio8.jpg) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="posttmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio7.jpg) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio7.jpg) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="postmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio6.jpg) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio6.jpg) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="postmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio2.jpg) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio2.jpg) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="postmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio6.jpg) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio6.jpg) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="postmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" blogcol col-md-4 col-sm-6 col-xs-12">
                <div class="blog-card">
                    <div class="card-wrapper" style="background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio3.png) center/cover no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , url(img/portfolio3.png) center/cover no-repeat;">
                        <div class="card-header">
                            <div class="date">
                                <span class="postday">12</span>
                                <span class="postmonth">Aug</span>
                                <span class="postyear">2016</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                            </ul>
                        </div>
                        <div class="card-data">
                            <div class="card-content">
                                <div class="cardtag">
                                    <span class="label ">Design</span>
                                    <span class="label ">Photography</span>
                                </div>
                                <span class="author">Jane Doe</span>
                                <h4 class="title"><a href="#">Lorem quis molliseros pell entesque vitae purus luctus</a></h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa
                                    nec dolor luctus, in molestie...</p>
                                <a class="button button-single-post" href="blog-item1.html" data-blog-title="POST TITLE">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paginationcontainer">
                <div class="pagination p1">
                    <div class="pagination-container">
                        <a href="#" class="paginnav">
                                        <span>
                                            PREVIOUS</span>
                        </a>
                        <a href="#">
                            <span>1</span>
                        </a>
                        <a href="#" class="is-active">
                            <span>2</span>
                        </a>
                        <a href="#">
                            <span>3</span>
                        </a>
                        <a href="#">
                            <span>...</span>
                        </a>
                        <a href="#">
                            <span>28</span>
                        </a>
                        <a href="#" class="paginnav">
                            <span>NEXT</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>