<div class="pagescroll pt-page pt-page-8 contact contact-section">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>OUR NEWS AND BLOG</legend>
                    <i class="peicon pe-7s-tools" aria-hidden="true"></i>
                    <h3> CONTACT</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row">
            <div class="col-md-7">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"> <i class="fa fa-heart"></i></div>
                        <div class="smalltitle">Drop Us A Line</div>
                    </div>
                </div>
                <!-- Contact Form -->
                <fieldset id="contact_form">
                    <div id="result"></div>
                    <input type="text" name="name" id="name" placeholder="NAME" />
                    <input type="email" name="email" id="email" placeholder="EMAIL" />
                    <textarea name="message" id="message" placeholder="MESSAGE"></textarea>
                    <span class="btn-default btn btn-sm" id="submit_btn">SEND MESSAGE</span>
                </fieldset>
                <!-- End Contact Form -->
            </div>
            <div class="col-md-5 backgroundmap">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"> <i class="fa fa-heart"></i></div>
                        <div class="smalltitle">Let's Get In touch</div>
                    </div>
                </div>
                <div class="contactinfo">
                    <i class="peicon pe-7s-home" aria-hidden="true"></i>
                    <div class="contactinfo-detail">
                        <h4>ADRESS</h4>
                        <span>123 Street Name, City Name, USA</span>
                    </div>
                </div>
                <div class="contactinfo">
                    <i class="peicon pe-7s-phone" aria-hidden="true"></i>
                    <div class="contactinfo-detail">
                        <h4>PHONE</h4>
                        <span>(+23) 45-67-890</span>
                    </div>
                </div>
                <div class="contactinfo">
                    <i class="peicon pe-7s-mail" aria-hidden="true"></i>
                    <div class="contactinfo-detail">
                        <h4>MAIL</h4>
                        <span>exemple@exemple.com</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>