<div class="pt-page pt-page-1 home">
    <!--<div id="fullpage-video">
        <div class="section fp-noscroll">
            <div id="video_overlays"></div>
            <video autoplay loop muted id="myVideo" poster="img/homebg.jpg">
                <source src="https://s3.amazonaws.com/distill-videos/videos/processed/9/MVI_0358.mp4.mp4" type="video/mp4">
                <source src="https://s3.amazonaws.com/distill-videos/videos/processed/9/MVI_0358.mp4.webm" type="video/webm">
            </video>
            <div class="layer-video">
                <h5>Hi, I am</h5>
                <h4>Johnatan Doe</h4>
                <h5>DEVELOPER AND BUSINESSMAN</h5>
            </div>
        </div>
    </div>-->
    <div id="fullpage">
        <div class="section one">
            <h1>HELLO , MY NAME IS</h1>
            <h2>JOHNATAN DOE</h2>
        </div>
        <div class="section two">
            <h1>I LIKE TO MAKE</h1>
            <h2>COOL WEBBY STUFF</h2>
        </div>
        <div class="section three">
            <h1>LIKE THIS</h1>
            <h2>HTML TEMPLATE</h2>
        </div>
    </div>
</div>