<div class="pagescroll pt-page pt-page-4 portfolio">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>WHAT WE HAVE DO SO FAR</legend>
                    <i class="peicon pe-7s-note2" aria-hidden="true"></i>
                    <h3> PORTFOLIO</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row row-wrapper">
            <ul class="portfolio-sorting  col-md-8 col-sm-12">
                <li><a href="#" data-group="all" class="active">All</a></li>
                <li><a href="#" data-group="photography">Photography</a></li>
                <li><a href="#" data-group="design">Design</a></li>
                <li><a href="#" data-group="identity">Identity</a></li>
            </ul>
            <div class="col-md-4 col-sm-12 portfcountcol">
                <div class="portfocount_container ">
                    <span>Projects number</span> <span class="pnumbercount">9</span>
                </div>
            </div>
        </div>
        <!--end portfolio sorting -->
        <ul class="portfolio-items list-unstyled row" id="grid">
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["photography"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio1.jpg")}}" alt="Item 1" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="magnifictrig openBtn" href="portfolio-item1.html"><i class="pe-7s-note2"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">PHOTOGRAPHY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["photography"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio2.jpg")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="magnifictrig openBtn" href="portfolio-item2.html"><i class="pe-7s-note2"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">PHOTOGRAPHY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["identity"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio3.png")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a href="#gallery1" class="openBtngal magnifictrig " data-effect="zoomInLeft"><i class="pe-7s-photo"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">IDENTITY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
                <div id="gallery1" class="hidden">
                    <a href="{{url_for('static',filename="img/portfolio3.png")}}">Open image 1 (gallery #1)</a>
                    <a href="img/gal1.jpg">Open image 2 (gallery #1)</a>
                    <a href="img/gal2.jpg">Open image 3 (gallery #1)</a>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["identity"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio4.jpg")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="openvideomag magnifictrig" title="Test title" href="https://vimeo.com/22439234"><i
                                class="pe-7s-film"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">IDENTITY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["design", "identity"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio5.jpeg")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="magnifictrig openBtn" href="portfolio-item2.html"><i class="pe-7s-note2"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum</p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">DESIGN</span>
                        <span class="portfolio-label">IDENTITY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["design"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio9.jpeg")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a href="#gallery2" class="openBtngal magnifictrig " data-effect="zoomInLeft"><i class="pe-7s-photo"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">DESIGN</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
                <div id="gallery2" class="hidden">
                    <a href="{{url_for('static',filename="img/portfolio9.jpeg")}}">Open image 1 (gallery #1)</a>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["identity"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="{{url_for('static',filename="img/portfolio6.jpg")}}" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a href="#gallery3" class="openBtngal magnifictrig " data-effect="zoomInLeft"><i class="pe-7s-photo"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">IDENTITY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
                <div id="gallery3" class="hidden">
                    <a href="{{url_for('static',filename="img/portfolio6.jpg")}}">Open image 1 (gallery #1)</a>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["photography"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="img/portfolio7.jpg" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="magnifictrig openBtn" href="portfolio-item1.html"><i class="pe-7s-note2"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">PHOTOGRAPHY</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <li class="portitem col-md-4 col-sm-6 col-xs-12" data-groups='["design"]'>
                <div class="portfolioitem-container">
                    <figure class="portfolio-item">
                        <a href="#">
                            <img src="img/portfolio8.jpg" alt="" class="img-responsive">
                        </a>
                    </figure>
                    <div class="portfolio-cardcontent">
                        <a class="openvideomag magnifictrig" title="Test title" href="https://vimeo.com/22439234"><i
                                class="pe-7s-film"></i></a>
                        <span class="portfoiocard-title">PROJECT TITLE</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum </p>
                    </div>
                    <div class="portfolio-cardfooter">
                        <span class="portfolio-label">DESIGN</span>
                        <span class="portfolio-date">3/14/2016</span>
                    </div>
                </div>
            </li>
            <!-- sizer -->
            <li class="col-md-4 col-sm-6 col-xs-12 shuffle_sizer"></li>
        </ul>
        <!--end portfolio grid -->
    </div>
</div>