<article class="hs-content service-section" id="section3">
    <span class="sec-icon serv-icon fa fa-laptop"></span>
    <div class="hs-inner">
        <span class="before-title">.03</span>
        <h2>SERVICES</h2>
        <span class="content-title">NOS SERVICES</span>
        <div class="services-wrap">
            {% for service in user.services %}
                {% if service.published %}
                    <div class="serv-wrap animated slideInDown">
                        <span class="{{ service.icon }}"></span>
                        <h3>{{ service.service }}</h3>
                        <p>{{ service.description }}</p>
                        <div class="slide">
                            <h4>Services</h4>
                            {{ service.detail }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {# <span class="content-title">WHAT OUR CLIENTS SAYING</span>
        <div class="testimonials-container">
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/men/61.jpg" height="100px" width="100px">
                </figure>
                <p>“The best thing about Organised shelves was that is was so easy and they gave me a
                    fair price”
                    <br><strong>John, Taunton</strong>
                </p>
            </div>
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/women/68.jpg" height="100px" width="100px">
                </figure>
                <p>“It was so easy and they gave me a fair price”
                    <br><strong>Louise, Kircaldy</strong>
                </p>
            </div>
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/men/60.jpg" height="100px" width="100px">
                </figure>
                <p>“Organised shelves was that is was so easy and they gave me a fair price”
                    <br> <strong>Archie, London</strong>
                </p>
            </div>
            <button class="prev-testimonial">Prev</button>
            <button class="next-testimonial">Next</button>
        </div>#}
    </div>
</article>