<div class="pagescroll pt-page pt-page-3 services">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>WHAT WE CAN DO FOR YOU</legend>
                    <i class="peicon pe-7s-tools" aria-hidden="true"></i>
                    <h3> OUR SERVICES</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row row-wrapper">
            <div class="col-md-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-television" aria-hidden="true"></i></div>
                        <div class="smalltitle">Services</div>
                    </div>
                </div>
            </div>
            <div class="servicecol col-md-4 col-sm-4">
                <div class="service-iconbox">
                    <i class="peicon pe-7s-browser"></i>
                    <h5>Web Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum dolor sit amet, consectetur
                        adipiscingVivam
                    </p>
                </div>
            </div>
            <div class="servicecol col-md-4 col-sm-4">
                <div class="service-iconbox">
                    <i class="peicon pe-7s-phone"></i>
                    <h5>Mobile Developpement</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum dolor sit amet, consectetur
                        adipiscingVivam
                    </p>
                </div>
            </div>
            <div class="servicecol col-md-4 col-sm-4">
                <div class="service-iconbox">
                    <i class="peicon pe-7s-graph1"></i>
                    <h5>Seo Services</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam ipsum dolor sit amet, consectetur
                        adipiscingVivam
                    </p>
                </div>
            </div>
        </div>
        <div class="row service2 row-wrapper image-service">
            <div class="col-md-12">
                <div class="image-service-content">
                    <h1>Providing Total<br>Health Care Solution</h1>
                    <span>More Information</span>
                </div>
            </div>
        </div>
        <div class="row row-wrapper counter-section">
            <div class="col-md-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                        <div class="smalltitle">Facts about us</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-3">
                    <span class="counter-number">920</span>
                </div>
                <div class="col-md-9">
                    <i class="peicon pe-7s-coffee"></i>
                    <h4>CUPS OF COFFEE</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                        Fusce tincidunt adipiscing,massa. Class aptent.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-3">
                    <span class="counter-number">65</span>
                </div>
                <div class="col-md-9">
                    <i class="peicon pe-7s-keypad"></i>
                    <h4>PROJECTS COMPLETED</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                        Fusce tincidunt adipiscing,massa. Class aptent.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-3">
                    <span class="counter-number">2M</span>
                </div>
                <div class="col-md-9">
                    <i class="peicon pe-7s-diskette"></i>
                    <h4>LINES OF CODE</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                        Fusce tincidunt adipiscing,massa. Class aptent.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-3">
                    <span class="counter-number">280</span>
                </div>
                <div class="col-md-9">
                    <i class="peicon pe-7s-smile"></i>
                    <h4>SATISFIED CUSTOMERS</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                        Fusce tincidunt adipiscing,massa. Class aptent.</p>
                </div>
            </div>
        </div>
        <div class="contact-cta-section row row-wrapper">
            <div class="wrapper-full col-md-12">
                <div class="cta-wrapper">
                    <div class="details-wrapper">
                        <h2>Class aptent taciti sociosqu ad litor </h2>
                        <p>hymenaeos Fusce tincidunt adipiscing massa </p>
                    </div>
                    <a class="cta-button" href="#">Contact Us Now!</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row row-wrapper" id="plan">
            <div class="col-md-12">
                <div class="title-container">
                    <div class="titlebg">
                        <div class="icon-title"><i class="fa fa-usd" aria-hidden="true"></i></div>
                        <div class="smalltitle">Our plans</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pricingcol4">
                <h2>Choose your perfect plan</h2>
                <div class="toggle-container cf">
                    <div class="switch-toggles">
                        <div class="individual active">Individual</div>
                        <!-- active -->
                        <div class="company">Company</div>
                    </div>
                </div>
                <p>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce tincidunt adipiscing,massa.
                    Class aptent.
                </p>
            </div>
            <div id="price_tables" class="col-md-8 pricingcol8">
                <div class="individual cf active">
                    <div class="price-table highlighted">
                        <div class="table-inner text-center">
                            <h3>Starter</h3>
                            <span class="price">Free</span>
                            <p class="phrase">Class aptent taciti
                                <br>sociosqu</p>
                            <ul class="feature-list">
                                <li> per conubia nostra</li>
                                <li> per inceptos hymenaeos</li>
                                <li>usce tincidunt adipiscine</li>
                            </ul>
                            <a href="" class="btn btn-blue">Get Started</a>
                        </div>
                    </div>
                    <div class="price-table">
                        <div class="table-inner text-center">
                            <h3>Pro</h3>
                            <span class="price">$4.99</span>
                            <p class="phrase">Class aptent taciti
                                <br>sociosqu</p>
                            <ul class="feature-list">
                                <li> per conubia nostra</li>
                                <li> per inceptos hymenaeos</li>
                                <li>usce tincidunt adipiscine</li>
                            </ul>
                            <a href="" class="btn btn-blue">Make me a pro</a>
                        </div>
                    </div>
                </div>
                <!-- /Individual -->
                <div class="company cf">
                    <div class="price-table highlighted">
                        <div class="table-inner text-center">
                            <h3>Starter</h3>
                            <span class="price">$14.99</span>
                            <p class="phrase">Class aptent taciti
                                <br>sociosqu</p>
                            <ul class="feature-list">
                                <li> per conubia nostra</li>
                                <li> per inceptos hymenaeos</li>
                                <li>usce tincidunt adipiscine</li>
                            </ul>
                            <a href="" class="btn btn-blue">Get Started</a>
                        </div>
                    </div>
                    <div class="price-table">
                        <div class="table-inner text-center">
                            <h3>Pro</h3>
                            <span class="price">$24.99</span>
                            <p class="phrase">Class aptent taciti
                                <br>sociosqu</p>
                            <ul class="feature-list">
                                <li> per conubia nostra</li>
                                <li> per inceptos hymenaeos</li>
                                <li>usce tincidunt adipiscine</li>
                            </ul>
                            <a href="" class="btn btn-blue">Make me a pro</a>
                        </div>
                    </div>
                </div>
                <!-- /Company -->
            </div>
        </div>
    </div>
</div>