<article class="hs-content service-section" id="section3">
    <span class="sec-icon serv-icon fa fa-laptop"></span>
    <div class="hs-inner">
        <span class="before-title">.03</span>
        <h2>SERVICES</h2>
        <span class="content-title">OUR SERVICES</span>
        <div class="services-wrap">
            <div class="serv-wrap animated slideInDown">
                <span class="fa serv-icons fa-crop"></span>
                <h3>Design Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam sit amet ligula non lectus
                    cursus egestas. Cras erat lorem </p>
                <div class="slide">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="fa fa-check"></i> Project Strategy</li>
                        <li><i class="fa fa-check"></i> Content Management</li>
                        <li><i class="fa fa-check"></i> Email Marketing</li>
                        <li><i class="fa fa-check"></i> Mobile App Development</li>
                        <li><i class="fa fa-check"></i> Usability Testing</li>
                        <li><i class="fa fa-check"></i> Responsive Development</li>
                        <li><i class="fa fa-check"></i> Scheduled Maintenance</li>
                        <li><i class="fa fa-check"></i> eCommerce Solutions</li>
                    </ul>
                </div>
            </div>
            <div class="serv-wrap animated slideInDown">
                <span class="fa serv-icons fa-code"></span>
                <h3>Dev. Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam sit amet ligula non lectus
                    cursus egestas. Cras erat lorem</p>
                <div class="slide">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="fa fa-check"></i> Project Strategy</li>
                        <li><i class="fa fa-check"></i> Content Management</li>
                        <li><i class="fa fa-check"></i> Email Marketing</li>
                        <li><i class="fa fa-check"></i> Mobile App Development</li>
                        <li><i class="fa fa-check"></i> Usability Testing</li>
                        <li><i class="fa fa-check"></i> Responsive Development</li>
                        <li><i class="fa fa-check"></i> Scheduled Maintenance</li>
                        <li><i class="fa fa-check"></i> eCommerce Solutions</li>
                    </ul>
                </div>
            </div>
            <div class="serv-wrap animated slideInDown">
                <span class="fa serv-icons fa-area-chart"></span>
                <h3>SEO Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam sit amet ligula non lectus
                    cursus egestas. Cras erat lorem</p>
                <div class="slide">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="fa fa-check"></i> Analytics </li>
                        <li><i class="fa fa-check"></i> Active Search</li>
                        <li><i class="fa fa-check"></i> Code Optimization</li>
                        <li><i class="fa fa-check"></i> Link Building</li>
                        <li><i class="fa fa-check"></i> Mobile Marketing</li>
                        <li><i class="fa fa-check"></i> Landing Pages</li>
                        <li><i class="fa fa-check"></i> Local SEO</li>
                    </ul>
                </div>
            </div>
            <div class="serv-wrap animated slideInDown">
                <span class="fa serv-icons fa fa-mobile"></span>
                <h3>ASO Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivam sit amet ligula non lectus
                    cursus egestas. Cras erat lorem</p>
                <div class="slide">
                    <h4>Services</h4>
                    <ul>
                        <li><i class="fa fa-check"></i> Analytics </li>
                        <li><i class="fa fa-check"></i> Active Search</li>
                        <li><i class="fa fa-check"></i> Code Optimization</li>
                        <li><i class="fa fa-check"></i> Link Building</li>
                        <li><i class="fa fa-check"></i> Mobile Marketing</li>
                        <li><i class="fa fa-check"></i> Landing Pages</li>
                        <li><i class="fa fa-check"></i> Local SEO</li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="content-title">WHAT OUR CLIENTS SAYING</span>
        <div class="testimonials-container">
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/men/61.jpg" height="100px" width="100px">
                </figure>
                <p>“The best thing about Organised shelves was that is was so easy and they gave me a
                    fair price”
                    <br><strong>John, Taunton</strong>
                </p>
            </div>
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/women/68.jpg" height="100px" width="100px">
                </figure>
                <p>“It was so easy and they gave me a fair price”
                    <br><strong>Louise, Kircaldy</strong>
                </p>
            </div>
            <div class="testimonial">
                <figure class="testimonial__mug">
                    <img src="https://randomuser.me/api/portraits/med/men/60.jpg" height="100px" width="100px">
                </figure>
                <p>“Organised shelves was that is was so easy and they gave me a fair price”
                    <br> <strong>Archie, London</strong>
                </p>
            </div>
            <button class="prev-testimonial">Prev</button>
            <button class="next-testimonial">Next</button>
        </div>
    </div>
</article>