<div class="pagescroll pt-page pt-page-11 ">
    <div class="featured-background">
        <div class="backgroundimg">
            <div class="headerdes-container">
                <fieldset>
                    <legend>MORE</legend>
                    <i class="peicon pe-7s-arc" aria-hidden="true"></i>
                    <h3> SKILLS</h3>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="thecontainer">
        <div class="row row-wrapper">
            <div class="col-md-6">
                <div class="skills-container">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-browser" aria-hidden="true"></i>
                        <span class="skills-title">WEB DEVELOPPEMENT</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">85%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod . </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">HTML</span>
                        <span class="skills-label">CSS</span>
                        <span class="skills-level">LEVEL : ADVANCED</span>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills-container-2">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-browser" aria-hidden="true"></i>
                        <span class="skills-title">WEB DEVELOPPEMENT</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">85%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tis blandit. Duis auctor hendrerit metus
                            Lorem
                        </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">HTML</span>
                        <span class="skills-label">CSS</span>
                        <span class="skills-level">LEVEL : ADVANCED</span>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="skills-container-3">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-browser" aria-hidden="true"></i>
                        <span class="skills-title">WEB DEVELOPPEMENT</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">85%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod . </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">HTML</span>
                        <span class="skills-label">CSS</span>
                        <span class="skills-level">LEVEL : ADVANCED</span>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills-container-4">
                    <figure class="skills-item">
                        <i class="peicon pe-7s-browser" aria-hidden="true"></i>
                        <span class="skills-title">WEB DEVELOPPEMENT</span>
                    </figure>
                    <div class="skills-cardcontent">
                        <span class="skill-percent">85%</span>
                        <p>Sed accumsan venenatis blandit. Duis auctor hendrerit metus Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod </p>
                    </div>
                    <div class="skills-cardfooter">
                        <span class="skills-label">HTML</span>
                        <span class="skills-label">CSS</span>
                        <span class="skills-level">LEVEL : ADVANCED</span>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>